
   header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 80px;
    background-color: #c1c1c1;
  }

  header .logo img {
    width: 48px;
    height: 48px;
    vertical-align: middle;
  }
  header nav {
    display: none;
  }
  header nav ul {
    display: flex;
  }

  nav a {
    padding: 10px 20px;
    font-size: 20px;
    color: #fff;
  }


  main {
    background-color: #ccc;
  }

  .area-w {
    max-width: 980px;
    position: relative;
    margin: 0 auto;
  }

  .content {
    overflow: hidden;
    padding-top: 160px;
  }

  .content .item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    float: left;
    width: 100%;
    padding: 8px 10px;
    margin: 20px 0;
    text-align: center;

  }

  .content .item img {
    width: 10vw;
    height: auto;
  }