<!DOCTYPE html>
<html lang="zh-cn">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>媒体查询 @media</title>


  <style>
    * {
      margin: 0;
      padding: 0;
    }

    a {
      text-decoration: none;
      color: #222;
    }

    ul {
      list-style: none;
    }
  </style>


</head>
<link rel="stylesheet" href="../public/css/index.css">
<link rel="stylesheet" media="screen and (min-width:980px)" href="../public/css/index@lg.css">

<body>
  <header>
    <h1 class="logo">
      <img class="logo-icon" src="../public/images/bird.png" width="128" height="128" alt="logo">
      MyBlog
    </h1>
    <nav>
      <ul>
        <li><a href="#">首页</a> </li>
        <li><a href="#">文章</a></li>
        <li><a href="#">心得</a></li>
        <li><a href="#">暗流</a></li>

      </ul>
    </nav>
  </header>
  <main>
    <div class="content area-w">
      <div class="item">
        <img src="../public/images/bird.png" width="128" height="128" alt="!">
        <div class="content-r">
          <h3>文章标题 </h3>
          <p>文章内容</p>
        </div>
      </div>
      <div class="item">
        <img src="../public/images/bird.png" width="128" height="128" alt="!">
        <div class="content-r">
          <h3>文章标题 </h3>
          <p>文章内容</p>
        </div>
      </div>
      <div class="item">
        <img src="../public/images/bird.png" width="128" height="128" alt="!">
        <div class="content-r">
          <h3>文章标题 </h3>
          <p>文章内容</p>
        </div>
      </div>
      <div class="item">
        <img src="../public/images/bird.png" width="128" height="128" alt="!">
        <div class="content-r">
          <h3>文章标题 </h3>
          <p>文章内容</p>
        </div>
      </div>
      <div class="item">
        <img src="../public/images/bird.png" width="128" height="128" alt="!">
        <div class="content-r">
          <h3>文章标题 </h3>
          <p>文章内容</p>
        </div>
      </div>
      <div class="item">
        <img src="../public/images/bird.png" width="128" height="128" alt="!">
        <div class="content-r">
          <h3>文章标题 </h3>
          <p>文章内容</p>
        </div>
      </div>
      <div class="item">
        <img src="../public/images/bird.png" width="128" height="128" alt="!">
        <div class="content-r">
          <h3>文章标题 </h3>
          <p>文章内容</p>
        </div>
      </div>
      <div class="item">
        <img src="../public/images/bird.png" width="128" height="128" alt="!">
        <div class="content-r">
          <h3>文章标题 </h3>
          <p>文章内容</p>
        </div>
      </div>
    </div>

  </main>
  <footer>

  </footer>
</body>

</html>