html {
  font-family: Georgia, 'Times New Roman', Times, serif, "Microsoft yahei";
  color: #222;
}
a {
  color: #808080;
}
a:hover {
  color: #222;
  cursor: pointer;
  text-decoration: none;
}
img {
  width: 100%;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1 {
  margin: 0;
}
::placeholder {
  color: #ccc;
}
