header-height = 60px
bg-theme-color = #f1f1f1
bg-modifier-color = #ccc
line-theme-color = rgb(85,85,85)
line-modifier-color = #fff
font-theme-color = rgb(85,85,85)
font-modifier-color =  rgb(153,153,153)

radius-theme-size = 4px 

font-title-color = #555

padding-space = 8px

font-size-h = 12px
font-size-p = 16px