<!DOCTYPE html>
<html lang="zh-cn">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>媒体查询 @media</title>

  <style>
    * {
      margin: 0;
      padding: 0;
    }

    /* 
      当判断最小值的时候(min-width) 从小到大写
      当判断最大值的时候(max-width) 从大到小写

     */

    /* 1000 red*/
    body {
      background-color: blue;
    }

    /*
      不在 768~1200 范围内的时候 
    
    */
    /* @media not screen and (min-width:768px) and (max-width:1200px) {
      body {
        background-color: pink;
      }
    } */
  </style>


</head>

<body>

</body>

</html>